/*  CSS du fichier index.ejs */

/*  insertion des images de background ainsi que les propriétés associées */
body {
  background-image: url('https://res.cloudinary.com/teepublic/image/private/s--rGKK-8DZ--/t_Preview/b_rgb:ffffff,c_limit,f_auto,h_313,q_90,w_313/v1446164041/production/designs/76106_0'), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbKPbwrHlRKhTrN-EZzPMhcTBCrrzHiD5wsAziXh_ACQ8IHn2pKg'), url('../image/reservoircats.png'), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbKPbwrHlRKhTrN-EZzPMhcTBCrrzHiD5wsAziXh_ACQ8IHn2pKg');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: bottom right, top left, bottom left, top right;
  background-attachment: fixed, fixed, fixed, fixed;
  background-size: auto, auto, 300px, auto;
}

/*  utilisation de la police de catactere issue de l'affiche du film "Reservoir Dogs" */
h1{
  font-familY: "ReservoirGrunge";
}

/*  Positionnement du bouton pour se rendre sur la page "/ranking" */
#ranking{
  font-familY: "ReservoirGrunge";
  text-decoration: none;
  color:black;
  float: right;
  margin-right: 5%;
}

/*  Position du bouton "skip" permettant un rafraichissement de la page et donc de ne pas voter pour les deux concurrents */
#skip{
  font-familY: "ReservoirGrunge";
  text-decoration: none;
  color:black;
  float: right;
  margin-right: 5%;
  margin-top: 10%;
}

/*  positionnement de la balise <iframe> contenant le lien vidéo, le display est fixé à 'none', l'affichage est géré dans app.js */
#video{
  display: none;
  position: fixed;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right:25%;
}

/*  positionnement du lien secret vers la vidéo (sous forme de gif animé) - gestion des évenements dans app.js */
#secretLink{
  position: absolute;
  bottom: 3%;
  left:50%;
  text-decoration: none;
  float: left;
  width: 5%;
}

/* creation du style POLAROID */
/* code repris du site "https://paulund.co.uk/create-polaroid-image-with-css" */
/* gestion manuelle de la taille */

.box {
  margin-left: auto;
  margin-right: auto;
  width: 1000px; /* largeur obligatoire pour être centré */
}


.box a {
background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
}

.box a:after {
	color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:15px;
}

.box img {
	display: block;
	width: inherit;
  max-width: 400px ;
}

.box a:nth-child(2n)
{
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	transform: rotate(4deg);
}
.box a:nth-child(3n) {
	-webkit-transform: rotate(-24deg);
	-moz-transform: rotate(-24deg);
	transform: rotate(-24deg);
}
.box a:nth-child(4n)
{
	-webkit-transform: rotate(14deg);
	-moz-transform: rotate(14deg);
	transform: rotate(14deg);
}
.box a:nth-child(5n)
{
	-webkit-transform: rotate(-18deg);
	-moz-transform: rotate(-18deg);
	transform: rotate(-18deg);
}

.box a:hover{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
        transform: scale(1.2);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}
